.container {
  margin: 3rem auto;
  max-width: 600px;
}

.section {
  flex: 1;
}

.row {
  display: flex;
}

.postsWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.post {
  width: 32.33%;
  height: auto;
  margin: 0 0.5% 1%;
  border: 1px solid #ddd;
  min-height: 15rem;
  min-width: 30%;
}

/* 메인 > 태그 */
.tagsWrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0.5% 0.5rem;
}

.post_tag {
  display: block;
  margin-right: 0.5rem;
  border: 1px solid #ddd;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: normal;
  font-size: 0.75rem;
  cursor: pointer;
  transition: all 0.4s;
}
.post_tag_active {
  background-color: var(--color-primary);
  font-weight: normal;
  color: #fff;
  border: 1px solid transparent;
}
.post_list_tag {
  margin-right: 0.5rem;
  font-size: var(--fontSize-small);
}

.post_tag_txt {
}

.post_tag_count {
  margin-left: 0.25rem;
}

.thumbnail {
  min-height: 7rem;
  background-color: #ddd;
}

.post_content {
  padding: 0.5rem;
}

.post_content p {
  /* padding-top: var(--spacing-1); */
  margin-bottom: var(--spacing-0);
  min-height: 5rem;
  font-weight: 600;
  letter-spacing: -0.7px;
}

.post_content_title {
  font-size: 14px;
}

/* Media queries */
@media (max-width: 60rem) {
  .post {
    width: 100%;
  }
}
